<a href="https://colab.research.google.com/github/KILjungjoon/Python_Grammar/blob/main/Excel's_vlookup_function_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [10]:
#Creating another DataFrame
dfchart = pd.DataFrame({
    'name': [ 'AAA', 'BBB', 'CCC', 'DDD', 'BBB', 'DDD', 'CCC'],
    'song': [ 'aa', 'bb', 'cc', 'dd', 'bb', 'dd', 'cc']
})
 
dfchart

  name song
0  AAA   aa
1  BBB   bb
2  CCC   cc
3  DDD   dd
4  BBB   bb
5  DDD   dd
6  CCC   cc

In [12]:
import pandas as pd

dfdata = pd.DataFrame({
    'name': [  'AAA', 'BBB', 'CCC', 'DDD'],
    'song': ['aa', 'bb', 'cc', 'dd'],
    'age': [ 10, 12, 13, 11],
    'gender': [ 'M', 'M', 'M', 'M'],
    'birthmonth': [ 'Jan', 'Aug', 'Oct', 'Dec'],
    'genre': [ 'pop', 'balade', 'hiphop', 'lock']
})
dfdata

  name song  age gender birthmonth   genre
0  AAA   aa   10      M        Jan     pop
1  BBB   bb   12      M        Aug  balade
2  CCC   cc   13      M        Oct  hiphop
3  DDD   dd   11      M        Dec    lock

In [16]:
dfchart = pd.merge(left=dfchart, right=dfdata, how='left')
dfchart

  name song  age gender birthmonth   genre
0  AAA   aa   10      M        Jan     pop
1  BBB   bb   12      M        Aug  balade
2  CCC   cc   13      M        Oct  hiphop
3  DDD   dd   11      M        Dec    lock
4  BBB   bb   12      M        Aug  balade
5  DDD   dd   11      M        Dec    lock
6  CCC   cc   13      M        Oct  hiphop

In [15]:
inner_join = pd.merge(dfchart, dfdata, on =['name','song'], how ='inner')
inner_join

  name song  age gender birthmonth   genre
0  AAA   aa   10      M        Jan     pop
1  BBB   bb   12      M        Aug  balade
2  BBB   bb   12      M        Aug  balade
3  CCC   cc   13      M        Oct  hiphop
4  CCC   cc   13      M        Oct  hiphop
5  DDD   dd   11      M        Dec    lock
6  DDD   dd   11      M        Dec    lock